{% extends "catalog_now_app/base.html" %}

{% block main %}

<section id="hero" class="hero d-flex align-items-center justify-content-center">
    <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h2 data-aos="fade-up" class="aos-init aos-animate text-justify"> 
            <div class="section-header">
                Admin catalogo
            </div>
        </h2>
    </div>
  </section>

<div class="container-fluid">

    <br>

    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start">
            <a href="{% url 'product-admin'%}" class="btn btn-outline-secondary  me-2">Volver a panel</a>
            <a class="btn btn-primary" href="{% url 'catalog-create' %}" role="button">Catalog create</a>     
        </div>
        <div class="justify-content-end">
            <a class="btn btn-primary" href="{% url 'panel-page' %}" role="button">Back to Product list</a>
            <a class="btn btn-danger" href="{% url 'panel-logout' %}" role="button">Logout</a>
        </div>
    </div>

    <br>

    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Social Network One</th>
                <th scope="col">Social Network Two</th>
                <th scope="col">Social Network Three</th>
                <th scope="col">Email</th>
                <th scope="col">address</th>
                <th scope="col">city</th>
                <th scope="col">zip_code</th>
                <th scope="col">country</th>
                <th scope="col">phone</th>
                <th scope="col">Date Created</th>
                <th scope="col">Date Updated</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {%for catalog in catalogs %}
                <tr>
                    <td>{{catalog.name}}</td>
                    <td>{{catalog.social_network_one | safe}}</td>
                    <td>{{catalog.social_network_two}}</td>
                    <td>{{catalog.social_network_three}}</td>
                    <td>{{catalog.email}}</td>
                    <td>{{catalog.address}}</td>
                    <td>{{catalog.city}}</td>
                    <td>{{catalog.zip_code}}</td>
                    <td>{{catalog.country}}</td>
                    <td>{{catalog.phone}}</td>
                    <td>{{catalog.date_created}}</td>
                    <td>{{catalog.date_updated}}</td>
                    <td>
                        <a class="btn btn-info" href="{% url 'catalog-update' catalog.id %}" role="button">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}