{% extends "catalog_now_app/base.html" %}

{% block main %}
<section id="hero" class="hero d-flex align-items-center justify-content-center">
  
</section>
    <br>
    
    <a type="button" href = "{% url 'panel-page' %}" class="btn btn-primary" >Back to Panel</a>
    
    <br><br>

    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        {{ form }}
        <button type="submit" class="btn btn-danger">Confirm</button>
    </form>

    <br>
    
{% endblock %}