{% extends "catalog_now_app/base.html" %}

{% block main %}

<section id="hero" class="hero d-flex align-items-center justify-content-center"></section>

<br>

<a type="button" href = "{% url 'panel-page' %}" class="btn btn-outline-secondary mt-2 me-2" >Volver al listado de productos</a>

<br><br>

<form method="post">
    
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column col-2">
            <p>Esta seguro que desea eliminar "{{ object }}"?</p>
            <img src ="{{object.image.url}}" class="card-img-top img-responsive img-fluid" width="300" height="300" alt="" />
            <br>
            {{ form }}
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirmar</button>
        </div>
    </div>
</form>

<br>
    
{% endblock %}