{% extends "catalog_now_app/base.html" %}

{% load crispy_forms_tags %}

{% block main %}
<br>
<a class="btn btn-primary" href="{% url 'panel-page' %}" role="button">Back to Product List</a>
<a class="btn btn-success" href="{% url 'user-update' user.id %}" role="button">Update Profile</a>

<div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
        <div class="form-floating mb-2">
            <input type="text" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="" value="{{user.first_name}}">
            <label for="floatingPlaintextInput">First Name</label>
        </div>

        <div class="form-floating mb-2">
            <input type="text" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="" value="{{user.last_name}}">
            <label for="floatingPlaintextInput">Last Name</label>
        </div>

        <div class="form-floating mb-2">
            <input type="text" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="" value="{{user.email}}">
            <label for="floatingPlaintextInput">Email</label>
        </div>

        <div class="form-floating mb-2">
            <input type="text" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="" value="{{user.username}}">
            <label for="floatingPlaintextInput">Username</label>
        </div> 
    </div>
</div>

<img height="128" src="{{ object.avatar.url }}" />

{% endblock %}