{% extends "catalog_now_app/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block main %}

<section id="hero" class="hero d-flex align-items-center justify-content-center"></section>

{% include 'catalog_now_app/message.html' %}

<br>

<a class="btn btn-outline-secondary mt-2 me-2 ms-2" href="{% url 'product-admin' %}" role="button">Volver a panel</a>

<div class="d-flex justify-content-center">
    <div class="d-flex flex-column">

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4"> 
                    {% if publisher.id %}
                        {% if publisher.avatar  %}
                            <a href="{% url 'publisher-update' publisher.id %}">
                                <img src="{{publisher.avatar.url}}" class="img-thumbnail rounded-start" />
                                <span class="position-absolute top-0 start-10 translate-middle badge rounded-pill bg-primary ">
                                <i class="bi bi-pencil-square"></i>
                                <span class="visually-hidden">Editar foto</span>
                                </span>
                            </a>
                        {% else %}     
                            <a href="{% url 'publisher-update' publisher.id %}">
                                <img src="{% static 'avatar/default.jpg' %}" class="img-thumbnail rounded-start" />
                                <span class="position-absolute top-0 start-10 translate-middle badge rounded-pill bg-primary ">
                                    <i class="bi bi-pencil-square"></i>
                                    <span class="visually-hidden">Editar foto</span>
                                    </span>
                            </a>
                        {% endif %}    
                    {% else %}
                        <a href=""><img src="{% static 'avatar/default.jpg' %}" class="img-thumbnail rounded-start" /></a>
                    {% endif %}
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <div class="form-floating">
                        <input type="text" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="" value="{{user.first_name}}">
                        <label for="floatingPlaintextInput">First Name</label>
                    </div>
            
                    <div class="form-floating">
                        <input type="text" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="" value="{{user.last_name}}">
                        <label for="floatingPlaintextInput">Last Name</label>
                    </div>
            
                    <div class="form-floating">
                        <input type="text" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="" value="{{user.email}}">
                        <label for="floatingPlaintextInput">Email</label>
                    </div>
            
                    <div class="form-floating">
                        <input type="text" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="" value="{{user.username}}">
                        <label for="floatingPlaintextInput">Username</label>
                    </div> 
                </div>
              </div>
              <div class="d-flex flex-column">
                <a class="btn btn-success" href="{% url 'user-update' user.id %}" role="button">Editar</a>
            </div>
            </div>
          </div>
        <br>
    </div>
</div>

{% endblock %}