<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    {% block extrahead %} {%endblock%}
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{catalog.name.title}}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

<!-- Favicons -->
<link rel="icon" type="image/" href= {% static 'app_bootstrap/assets/img/favicon.png' %} />
<link rel="apple-touch-icon" type="image/" href= {% static 'app_bootstrap/assets/img/apple-touch-icon.png' %} />


<!-- 
<link href="static/app_bbostrap/assets/img/favicon.png" rel="icon">

<link href="static/app_bbostrap/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

-->



<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<!--<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="assets/vendor/aos/aos.css" rel="stylesheet">-->

<link href= {% static 'app_bootstrap/assets/vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet" />
<link href= {% static 'app_bootstrap/assets/vendor/bootstrap-icons/bootstrap-icons.css' %} rel="stylesheet" />
<link href= {% static 'app_bootstrap/assets/vendor/fontawesome-free/css/all.min.css' %} rel="stylesheet" />
<link href= {% static 'app_bootstrap/assets/vendor/glightbox/css/glightbox.min.css' %} rel="stylesheet" />
<link href= {% static 'app_bootstrap/assets/vendor/swiper/swiper-bundle.min.css' %} rel="stylesheet" />
<link href= {% static 'app_bootstrap/assets/vendor/aos/aos.css' %} rel="stylesheet" />


  <!-- Template Main CSS File -->
  <!--<link href="assets/css/main.css" rel="stylesheet">-->
  <link href= {% static 'app_bootstrap/assets/css/main.css' %} rel="stylesheet" />


 

</head>
<body>

    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    
          <a href={% url 'main-page' %} class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>{{catalog.name.title}} </h1>
          </a>
         
          <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
          <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
          <nav id="navbar" class="navbar">
            <ul>
              <li><a href={% url 'main-page' %}>Inicio</a></li>
              <li><a href={% url 'about-us' %}>Sobre nosotros</a></li>
              <li><a href={% url 'product-list' %}>Productos</a></li>
              <li><a href="#contacto">Contacto</a></li>
              {% if request.user.is_authenticated %} 
              <li class="dropdown">
                    <a  href="#"><i class="bi bi-person-circle"   style="font-size:28px ; padding-right: 5px; color:#007aff ;"></i>  {{user.username}}</a>
                    <ul>
                      <li><a href="{% url 'user-detail' user.id %}">Perfil</a></li>
                      <li><a href="{% url 'product-admin' %}">Panel de Administración</a></li>
                      <li><a href="{% url 'panel-logout' %}">Log Out</a></li>
                    </ul>
              </li>
            </ul>
            {% endif %}
          </nav><!-- .navbar -->
          
        </div>
       
          
          
      </header><!-- End Header -->
      <!-- End Header -->
     
     

      <main>
        {% block main %}
        {% endblock %}

      </main>



      <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>{{catalog.name.title}}</span>
          </a>
          <p>Nos pueden encuentra en nuestra redes sociales</p>
          <div class="social-links d-flex mt-4">
            <a href="{{catalog.social_network_one}}" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="{{catalog.social_network_two}}" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="{{catalog.social_network_three}}" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Accesos</h4>
          <ul>
            <li><a href={% url 'main-page' %}>Inicio</a></li>
            <li><a href={% url 'about-us' %}>Sobre nosotros</a></li>
            <li><a href={% url 'product-list' %}>Productos</a></li>
            <li><a href="#contacto">Contacto</a></li>
          </ul>
        </div>

       

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start" id="contacto">
          <h4>Contactenos</h4>
          <p>
            {{catalog.address}} <br>
            {{catalog.city}}, {{catalog.zip_code}}<br>
            {{catalog.country}} <br><br>
            <strong>Phone:</strong>  {{catalog.phone}}<br>
            <strong>Email:</strong> {{catalog.email}}<br>
          </p>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Catalog Now</span></strong>. Todos los derechos reservados
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

<!-- Vendor JS Files -->


  <script src="{% static 'app_bootstrap/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'app_bootstrap/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'app_bootstrap/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'app_bootstrap/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'app_bootstrap/assets/vendor/aos/aos.js' %}"></script>
  

      

    <!-- Template Main JS File -->
    <!--<script src="assets/js/main.js"></script>-->
    <script src= {% static 'app_bootstrap/assets/js/main.js' %}></script>

</body>
</html>