{% extends "catalog_now_app/base.html" %}

{% load static %}

{% block title %}
    Nuestros productos
{% endblock title %}

{% block title_page %}
    Nuestros productos
{% endblock title_page %}

{% block main %}

<style> 
    .services .card p {
        padding: 0 0px !important;
    }
</style>

<section id="service" class="services pt-0"> 
    {% if products %}
        <div class="section-header">
            <span>Productos</span>
            <h1>Productos</h1>
        </div>

        <div class="container py-5">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for product in products %}
                    <div class="col aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                        <div class="card h-100">
                            <div class="card-img">
                                <img src ="{{product.image.url}}" class="card-img-top img-responsive img-fluid" width="300" height="300" alt="" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'product-detail' product.id %}" class="stretched-link">{{product.product_title}}</a></h5>
                                <p class="card-text">${{product.price}}</p>
                                <p class="card-text">{{product.short_description}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>No hay productos registrados</p>   
    {% endif %}
</section>

{% endblock %}